/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    text-align: center;
    background-color: rgb(75, 168, 226);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* Títulos de sección */
.section-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(75, 168, 226);
    font-weight: bold;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 30px;
}

/* Leyenda dentro del gráfico */
.legend-inside {
    position: absolute;
    top: 10px; /* Posición en la parte superior del gráfico */
    right: 10px; /* Alineado a la derecha */
    width: 250px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Leyenda personalizada */
.legend-gradient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.legend-bar {
    height: 20px;
    width: 100%;
    background: linear-gradient(to right, rgba(173, 216, 230, 1), rgba(0, 0, 255, 1), rgba(128, 0, 128, 1), rgba(255, 105, 180, 1));
    margin: 0 10px;
    border-radius: 5px;
}

.legend-label {
    font-size: 12px;
    font-weight: bold;
}

/* Estilo para la nueva leyenda de países destacados */
.highlighted-legend {
    margin-top: 10px;
    width: 400px; /* Ajusta el ancho según tus necesidades */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute; /* Asegura que esté dentro del gráfico */
    left: -860px; /* Alinea a la izquierda */
    bottom: -260px; /* Mueve hacia abajo */
    transform: translateY(100%); /* Asegura que esté completamente debajo del gráfico */
    z-index: 10; /* Asegura que esté encima de otros elementos */
}
